# Recommender System Example #1

[Movie Recommender Systems on Kaggle](https://www.kaggle.com/rounakbanik/movie-recommender-systems)

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD

# depreciated
# from surprise import evaluate

In [2]:
# reading csv from movie.ipynb output for a cleaned csv based on movies_metadata.csv
md = pd.read_csv('../input/movies_cleaned.csv')
md.head()

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"['Animation', 'Comedy', 'Family']",http://toystory.disney.com/toy-story,862,NaN,en,Toy Story,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,False,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",NaN,8844,NaN,en,Jumanji,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"['Romance', 'Comedy']",NaN,15602,NaN,en,Grumpier Old Men,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,False,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",NaN,31357,NaN,en,Waiting to Exhale,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,['Comedy'],NaN,11862,NaN,en,Father of the Bride Part II,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## A Simple Top Movies Listing based on different genres
From the previous study, we are able to summarize all movies into 32 different genres. By feeding build_top_chart function for different genres, we are able to pull out movies with top vote_average. Then, we filter out those that are more trust worthy ones (where movies that have vote counts in the upper 0.05% (or above 99.95%) quantile and show it to end_user

In [3]:
import re

def get_top_chart_by_genre(genre, quantile=0.995):
    qualified_df = md[md['vote_count'] > md['vote_count'].quantile(quantile)].sort_values('vote_average', ascending=False)
    genre_filtered_df = qualified_df['genres'].str.contains(genre, flags=re.IGNORECASE, regex=True)
    if genre != '':
        # return qualified_df[genre_filtered_df]
        return qualified_df[genre_filtered_df].index
    else:
        # return qualified_df
        return qualified_df.index

In [4]:
idx = get_top_chart_by_genre('')
# idx.shape
qf_df = md[md.index.isin(idx)]
qf_df[['title', 'release_date', 'vote_average', 'vote_count' ]].sort_values('vote_average', ascending=False).head(10)

                          title release_date  vote_average  vote_count
828               The Godfather   1972-03-14           8.5      6024.0
313    The Shawshank Redemption   1994-09-23           8.5      8358.0
521            Schindler's List   1993-11-29           8.3      4436.0
12421           The Dark Knight   2008-07-16           8.3     12269.0
2198          Life Is Beautiful   1997-12-20           8.3      3643.0
2828                 Fight Club   1999-10-15           8.3      9678.0
23496                  Whiplash   2014-10-10           8.3      4376.0
291                Pulp Fiction   1994-09-10           8.3      8670.0
5453              Spirited Away   2001-07-20           8.3      3968.0
350                Forrest Gump   1994-07-06           8.2      8147.0

In [5]:
idx = get_top_chart_by_genre('Romance')
# idx.shape
qf_df = md[md.index.isin(idx)]
qf_df[['title', 'release_date', 'vote_average', 'vote_count' ]].sort_values('vote_average', ascending=False).head(10)

,title,release_date,vote_average,vote_count
350,Forrest Gump,1994-07-06,8.2,8147.0
7168,Eternal Sunshine of the Spotless Mind,2004-03-19,7.9,3758.0
22003,Her,2013-12-18,7.9,4215.0
40458,La La Land,2016-11-29,7.9,4745.0
23337,The Fault in Our Stars,2014-05-16,7.6,3868.0
1628,Titanic,1997-11-18,7.5,7770.0
2165,Edward Scissorhands,1990-12-05,7.5,3731.0
580,Aladdin,1992-11-25,7.4,3495.0
20762,The Great Gatsby,2013-05-10,7.3,3885.0
19598,Silver Linings Playbook,2012-09-08,7.0,4840.0

## Content Based Recommender System
The previous method can only show top rated movies by all voters. However, we want something that is tailored to an individual user. We will try different ways to recommend movies to our end users. First, we will try to find movies that are similiar.

## Recommender System based on text mining of Movie Descriptor 
We will try to suggest movies based on keywords from the descriptive text provided in the database, and we will use this info to find the best match for end user.

In [6]:
md['tagline'] = md['tagline'].fillna('')
md['overview'] = md['overview'].fillna('')
md['keywords'] = md['tagline'] + ' ' + md['overview']

In [7]:
# We build a Term Frequency (TF)-Inverse Data Frequency (IDF) summary of keywords using scikit-learn library
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

vectorizer = TfidfVectorizer(analyzer='word', ngram_range=(1, 2),min_df=0, stop_words='english')
X = vectorizer.fit_transform(md['keywords'])

# Show TF-IDF Vectorizer properties
# print('Shape: ')
# print(X.shape)
# print('Feature Names: ')
# print(vectorizer.get_feature_names())

# Next We build a lookup matrix that share similarity score for all movies title in the database
cosine_similarity = linear_kernel(X,X)
# showing cosine_similiarty characteristics
# cosine_similarity.shape

In [8]:

def get_recommended_movies_by_title(title):
    #a = md.index[md['Title'] == 'The Godfather']
    a = md[md['title'] == title]
    if a.empty:
        #print('Is Empty')
        return []
    else:
        # print('Found Title')
        # print(a.index)
        
        b = a.index.astype('int')
        # print(b)
        
        # slice the cosine_similiarity matrix for this specific title
        c = cosine_similarity[b]
        d = c.tolist()
        e = list(*d)
        f = list(enumerate(e))
        g = sorted(f, key=lambda x:x[1], reverse=True)
        g = g[1:31]
        movies_id = [x[0] for x in g]
        return movies_id

In [9]:
movie_lst = get_recommended_movies_by_title('Family Business')
rec_df = md[md.index.isin(movie_lst)]
rec_df

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
795,801,False,NaN,0.0,"['Comedy', 'Foreign']",NaN,9098,NaN,de,Echte Kerle,...,0.0,100.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,Macho cop finds himself in a relationship with...,Regular Guys,False,5.2,9.0,Macho cop finds himself in a relationship with...
3909,3928,False,"{'id': 107469, 'name': 'Save The Last Dance Co...",13000000.0,"['Drama', 'Family', 'Romance', 'Music']",NaN,9816,NaN,en,Save the Last Dance,...,91038276.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Only Person You Need To Be Is Yourself.,Save the Last Dance,False,6.3,359.0,The Only Person You Need To Be Is Yourself. A ...
3984,4004,False,NaN,0.0,"['Comedy', 'Fantasy']",NaN,2608,NaN,en,Maid to Order,...,9868521.0,93.0,"[{'iso_639_1': 'es', 'name': 'EspaÃ±ol'}, {'iso...",Released,She was raised in a Beverly Hills mansion. Now...,Maid to Order,False,5.2,17.0,She was raised in a Beverly Hills mansion. Now...
4458,4482,False,NaN,20000000.0,"['Crime', 'Drama']",NaN,505,NaN,en,Johnny Handsome,...,7237794.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"They changed his looks, his life and his futur...",Johnny Handsome,False,6.1,49.0,"They changed his looks, his life and his futur..."
7080,7120,False,NaN,0.0,"['Comedy', 'Thriller']",NaN,29493,NaN,en,A Piece of the Action,...,0.0,135.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A delightfully delicious dilemma!,A Piece of the Action,False,6.5,4.0,A delightfully delicious dilemma! How does ret...
8930,8978,False,"{'id': 124951, 'name': 'Mannequin Collection',...",13000000.0,"['Fantasy', 'Comedy', 'Science Fiction', 'Roma...",NaN,34376,NaN,en,Mannequin Two: On the Move,...,3752426.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lively comedy about a living doll!,Mannequin Two: On the Move,False,4.6,28.0,A lively comedy about a living doll! Although ...
11347,11406,False,NaN,4000000.0,"['Comedy', 'Crime']",NaN,9809,NaN,en,Let's Go to Prison,...,4630045.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Welcome to the slammer,Let's Go to Prison,False,5.5,70.0,Welcome to the slammer When a career criminal'...
11451,11510,False,NaN,0.0,"['Drama', 'Comedy', 'Romance']",NaN,13771,NaN,en,Venus,...,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Venus,False,6.5,48.0,Maurice is an aging veteran actor who becomes...
12380,12440,False,NaN,0.0,"['Comedy', 'Family']",http://disneydvd.disney.go.com/college-road-tr...,13493,NaN,en,College Road Trip,...,68397662.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,College Road Trip,False,5.0,91.0,When an overachieving high school student dec...
15581,15659,False,NaN,0.0,"['Drama', 'Romance']",http://www.gretathemovie.com/,26035,NaN,en,According to Greta,...,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She's a trip. But she's no vacation.,According to Greta,False,6.0,67.0,She's a trip. But she's no vacation. Greta is ...
15986,16070,False,NaN,0.0,['Drama'],NaN,130917,NaN,en,Tribute,...,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Tribute,False,5.3,3.0,A shallow Broadway press agent learns he is d...
16736,16824,False,NaN,0.0,['Drama'],NaN,33025,NaN,en,Mannequin,...,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Romance of a Shopgirl's Millions,Mannequin,False,4.7,3.0,The Romance of a Shopgirl's Millions Rags-to-r...
17413,17515,False,NaN,0.0,"['Western', 'Drama']",NaN,70192,NaN,en,Count Three and Pray,...,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Luke Fargo was through with sin... but sin was...,Count Three and Pray,False,3.5,5.0,Luke Fargo was through with sin... but sin was...
18279,18397,False,NaN,0.0,['Drama'],NaN,26283,NaN,en,The Las Vegas Story,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,The Las Vegas Story,False,4.6,8.0,"When newlyweds visit Las Vegas, the wife's sh..."
18904,19024,False,NaN,35000000.0,"['Action', 'Thriller', 'Crime', 'Drama']",NaN,80389,NaN,en,Get the Gringo,...,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The odds are against him. So is everyone else.,Get the Gringo,False,6.4,544.0,The odds are against him. So is everyone else....
20930,21080,False,"{'id': 256322, 'name': 'The Purge Collection',...",3000000.0,"['Science Fiction', 'Horror', 'Thriller']",NaN,158015,NaN,en,The Purge,...,89328627.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"One night a year, all crime is legal.",The Purge,False,6.0,2498.0,"One night a year, all crime is legal. Given th..."
22956,23130,False,NaN,0.0,"['Comedy', 'Romance']",http://www.trailerparkjesus.com/,229613,NaN,en,Trailer Park Jesus,...,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,When a college student becomes stranded at a t...,Trailer Park Jesus,False,5.5,2.0,When a college student becomes stranded at a t...
24203,24390,False,NaN,0.0,"['Comedy', 'Family', 'Action']",NaN,54557,NaN,en,The Chaperone,...,0.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Her dad did time... Now he wants quality time.,The Chaperone,False,5.4,31.0,Her dad did time... Now he wants quality time....
25773,25972,False,NaN,0.0,"['Crime', 'Drama']",NaN,37482,NaN,en,The Crooked Way,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's got a date ...with DEATH!,The Crooked Way,False,5.3,5.0,He's got a date ...with DEATH! A war veteran s...
26618,26824,False,NaN,0.0,['Documentary'],http://vitorussomovie.com/,108917,NaN,en,Vito,...,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every revolution needs a voice,Vito,False,8.0,3.0,Every revolution needs a voice In the aftermat...
29323,29567,False,NaN,0.0,[],NaN,56177,NaN,it,Fatto di sangue fra due uomini per causa di un...,...,0.0,124.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,,Blood Feud,False,0.0,0.0,"Titina Paterno, a widow in a small coastal to..."
31576,31853,False,NaN,0.0,"['Comedy', 'Drama', 'Family']",http://www.iontelevision.com/holiday-movie/mer...,312167,NaN,en,Merry Ex-Mas,...,0.0,90.0,"[{'iso_639_1': 'hu', 'name': 'Magyar'}, {'iso_...",Released,"This holiday, they're fighting for love.",Merry Ex-Mas,False,1.0,2.0,"This holiday, they're fighting for love. When ..."
31674,31953,False,NaN,30000000.0,"['Action', 'Drama']",NaN,307081,NaN,en,Southpaw,...,91709827.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Believe in Hope.,Southpaw,False,7.3,2112.0,"Believe in Hope. Billy ""The Great"" Hope, the r..."
33156,33461,False,NaN,0.0,"['Crime', 'Drama']",NaN,152846,NaN,it,La moglie piÃ¹ bella,...,0.0,108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,,The Most Beautiful Wife,False,8.5,4.0,Based on the story of Franca Viola and Filipp...
34941,35264,False,NaN,0.0,"['Thriller', 'Crime', 'Drama']",NaN,253286,NaN,en,Two Step,...,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Two Step,False,5.3,6.0,Two Step is a fast-paced Texas thriller in wh...
35010,35335,False,NaN,0.0,['Drama'],NaN,44099,NaN,en,Temptation,...,0.0,98.0,[],Released,YOU CAN'T RESIST IT!,Temptation,False,5.0,1.0,YOU CAN'T RESIST IT! A Victorian-era drama abo...
35159,35485,False,NaN,8000000.0,"['Action', 'Drama', 'Thriller']",NaN,256687,NaN,en,Swelter,...,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Greed. Revenge. Redemption.,Swelter,False,4.6,22.0,Greed. Revenge. Redemption. Ten years after th...
35975,36310,False,NaN,0.0,"['Drama', 'Romance', 'Science Fiction']",http://terugnaarmorgen.be/nl/,361183,NaN,nl,Terug naar morgen,...,0.0,86.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,,Sum of Histories,False,10.0,1.0,What would you do if you could change the past?
38406,38786,False,NaN,0.0,['Comedy'],NaN,147132,NaN,en,A Bride for Christmas,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,A Bride for Christmas,False,5.6,17.0,Bride-to-be Jessie Patterson calls off her th...
40401,40824,False,"{'id': 216395, 'name': 'Parent Trap Collection...",0.0,"['Action', 'Comedy', 'Drama', 'Family']",NaN,64183,NaN,en,Parent Trap III,...,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Parent Trap III,False,3.8,3.0,"When Jeff plans to marry again, his triplet d..."

In [10]:
movie_lst = get_recommended_movies_by_title('Batman Forever')
rec_df = md[md.index.isin(movie_lst)]
rec_df

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
584,585,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",35000000.0,"['Fantasy', 'Action']",NaN,268,NaN,en,Batman,...,4.113489e+08,126.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Have you ever danced with the devil in the pal...,Batman,False,7.0,2145.0,Have you ever danced with the devil in the pal...
1321,1328,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",80000000.0,"['Action', 'Fantasy']",NaN,364,NaN,en,Batman Returns,...,2.800000e+08,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Bat, the Cat, the Penguin.",Batman Returns,False,6.6,1706.0,"The Bat, the Cat, the Penguin. Having defeated..."
1482,1491,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",125000000.0,"['Action', 'Crime', 'Fantasy']",NaN,415,NaN,en,Batman & Robin,...,2.382071e+08,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Strength. Courage. Honor. And loyalty.,Batman & Robin,False,4.2,1447.0,Strength. Courage. Honor. And loyalty. Along w...
3079,3095,False,"{'id': 421904, 'name': 'Batman (DC Universe An...",6000000.0,"['Action', 'Adventure', 'Animation', 'Family']",NaN,14919,NaN,en,Batman: Mask of the Phantasm,...,5.617391e+06,76.0,"[{'iso_639_1': 'cs', 'name': 'ÄŒeskÃ½'}, {'iso_6...",Released,The Dark Knight fights to save Gotham city fro...,Batman: Mask of the Phantasm,False,7.4,218.0,The Dark Knight fights to save Gotham city fro...
7868,7912,False,NaN,0.0,"['Drama', 'Mystery', 'Thriller']",NaN,10742,NaN,en,The Clearing,...,1.252080e+07,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,The Clearing,False,5.6,57.0,"When affluent executive, Wayne Hayes is kidna..."
9181,9230,False,"{'id': 379475, 'name': 'Batman Beyond Collecti...",0.0,"['Animation', 'Family']",NaN,16234,NaN,en,Batman Beyond: Return of the Joker,...,0.000000e+00,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"This Time, The Joker Is Wild",Batman Beyond: Return of the Joker,False,7.5,152.0,"This Time, The Joker Is Wild The Joker is back..."
10070,10122,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",150000000.0,"['Action', 'Crime', 'Drama']",http://www2.warnerbros.com/batmanbegins/index....,272,NaN,en,Batman Begins,...,3.742187e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Evil fears the knight.,Batman Begins,False,7.5,7511.0,"Evil fears the knight. Driven by tragedy, bill..."
11693,11753,False,NaN,15500000.0,"['Mystery', 'Crime', 'Drama', 'Thriller']",NaN,18777,NaN,en,Slow Burn,...,1.237615e+06,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The truth is just a trick of light.,Slow Burn,False,5.5,16.0,The truth is just a trick of light. A district...
12421,12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000.0,"['Drama', 'Action', 'Crime', 'Thriller']",http://thedarkknight.warnerbros.com/dvdsite/,155,NaN,en,The Dark Knight,...,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0,Why So Serious? Batman raises the stakes in hi...
12794,12856,False,NaN,3500000.0,"['Animation', 'Action', 'Adventure']",http://www.warnervideo.com/batmangothamknight/,13851,NaN,en,Batman: Gotham Knight,...,0.000000e+00,75.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Get Ready... to Rage Against Evil.,Batman: Gotham Knight,False,6.7,171.0,Get Ready... to Rage Against Evil. Explore Bru...
14497,14569,False,NaN,25000000.0,"['Crime', 'Drama', 'Mystery']",NaN,25137,NaN,en,Beyond a Reasonable Doubt,...,4.388563e+06,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Beyond a Reasonable Doubt,False,5.5,79.0,Remake of a 1956 Fritz Lang film in which a n...
15433,15511,False,NaN,0.0,"['Action', 'Animation']",http://www.warnerbros.com/batman-under-red-hood,40662,NaN,en,Batman: Under the Red Hood,...,6.629178e+06,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Dare to Look Beneath the Hood.,Batman: Under the Red Hood,False,7.6,459.0,Dare to Look Beneath the Hood. Batman faces hi...
17927,18035,False,NaN,0.0,"['Action', 'Adventure', 'Animation', 'Crime', ...",https://www.warnerbros.com/batman-year-one/about,69735,NaN,en,Batman: Year One,...,0.000000e+00,64.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A merciless crime turns a man into an outlaw.,Batman: Year One,False,7.1,255.0,A merciless crime turns a man into an outlaw. ...
18136,18252,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",250000000.0,"['Action', 'Crime', 'Drama', 'Thriller']",http://www.thedarkknightrises.com/,49026,NaN,en,The Dark Knight Rises,...,1.084939e+09,165.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Legend Ends,The Dark Knight Rises,False,7.6,9263.0,The Legend Ends Following the death of Distric...
19658,19792,False,"{'id': 248534, 'name': 'Batman: The Dark Knigh...",3500000.0,"['Action', 'Animation']",NaN,123025,NaN,en,"Batman: The Dark Knight Returns, Part 1",...,0.000000e+00,76.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Old heroes never die. They just get darker.,"Batman: The Dark Knight Returns, Part 1",False,7.7,410.0,Old heroes never die. They just get darker. Ba...
20092,20232,False,"{'id': 248534, 'name': 'Batman: The Dark Knigh...",3500000.0,"['Action', 'Animation']",NaN,142061,NaN,en,"Batman: The Dark Knight Returns, Part 2",...,0.000000e+00,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Justice Returns... Vengeance Returns... Redemp...,"Batman: The Dark Knight Returns, Part 2",False,7.9,426.0,Justice Returns... Vengeance Returns... Redemp...
21042,21194,False,NaN,0.0,['Documentary'],http://www.history.com/,29751,NaN,en,Batman Unmasked: The Psychology of the Dark Kn...,...,0.000000e+00,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Batman Unmasked: The Psychology of the Dark Kn...,False,8.0,17.0,Delve into the world of Batman and the vigila...
21247,21400,False,"{'id': 421904, 'name': 'Batman (DC Universe An...",0.0,"['Adventure', 'Fantasy', 'Animation', 'Action'...",NaN,21683,NaN,en,Batman: Mystery of the Batwoman,...,0.000000e+00,74.0,"[{'iso_639_1': 'cs', 'name': 'ÄŒeskÃ½'}, {'iso_6...",Released,Gotham City's newest hero... or criminal?,Batman: Mystery of the Batwoman,False,6.6,87.0,Gotham City's newest hero... or criminal? A ne...
21748,21908,False,"{'id': 90031, 'name': 'Inner Sanctum mysteries...",0.0,"['Mystery', 'Thriller']",NaN,64077,NaN,en,Pillow of Death,...,0.000000e+00,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,HATE! Crawling back from the grave!,Pillow of Death,False,6.5,6.0,HATE! Crawling back from the grave! Attorney W...
21856,22021,False,NaN,0.0,"['Drama', 'Comedy', 'Action']",NaN,84324,NaN,en,The Super Cops,...,0.000000e+00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The true story of the two cops called Batman a...,The Super Cops,False,6.2,7.0,The true story of the two cops called Batman a...
25074,25267,False,NaN,0.0,"['Fantasy', 'Animation', 'Horror', 'Action', '...",NaN,20077,NaN,en,Batman vs Dracula,...,0.000000e+00,83.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,There's another bat in Gotham...,Batman vs Dracula,False,6.5,58.0,There's another bat in Gotham... Gotham City i...
29637,29881,False,NaN,0.0,"['Drama', 'Thriller']",NaN,242065,NaN,nl,Lucia de B.,...,0.000000e+00,97.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,,Accused,False,6.6,30.0,"Lucia (40) is a wilful nurse, risen up from a..."
31836,32119,False,"{'id': 356688, 'name': 'Batman Unlimited Colle...",0.0,"['Action', 'Animation', 'Family']",NaN,342917,NaN,en,Batman Unlimited: Monster Mayhem,...,0.000000e+00,81.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,It's a fright to the finish for Batman!,Batman Unlimited: Monster Mayhem,False,6.0,40.0,It's a fright to the finish for Batman! The Jo...
35650,35983,False,"{'id': 334996, 'name': 'Son of Batman Collecti...",3500000.0,"['Action', 'Animation', 'Science Fiction']",NaN,366924,NaN,en,Batman: Bad Blood,...,0.000000e+00,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Justice runs in the family,Batman: Bad Blood,False,6.8,186.0,Justice runs in the family Bruce Wayne is miss...
40521,40946,False,NaN,3500000.0,"['Action', 'Animation', 'Comedy']",https://www.warnerbros.co.uk/movies/batman-ret...,411736,NaN,en,Batman: Return of the Caped Crusaders,...,0.000000e+00,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The crusade continues...,Batman: Return of the Caped Crusaders,False,7.2,37.0,The crusade continues... Adam West and Burt Wa...
40549,40974,False,"{'id': 386162, 'name': 'LEGO DC Comics Super H...",0.0,"['Action', 'Adventure', 'Animation', 'Family']",NaN,300424,NaN,en,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,...,0.000000e+00,22.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,False,6.1,20.0,Superman wants Batman to join his new superhe...
41530,41976,False,"{'id': 325470, 'name': 'The Lego Movie Collect...",80000000.0,"['Action', 'Animation', 'Comedy', 'Family', 'F...",http://www.legobatman.com,324849,NaN,en,The Lego Batman Movie,...,3.119504e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Always be yourself. Unless you can be Batman.,The Lego Batman Movie,False,7.2,1473.0,Always be yourself. Unless you can be Batman. ...
41536,41982,False,NaN,0.0,"['Action', 'Animation', 'Science Fiction']",NaN,269246,NaN,en,Batman Beyond Darwyn Cooke's Batman 75th Anniv...,...,0.000000e+00,1.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Batman Beyond Darwyn Cooke's Batman 75th Anniv...,False,7.7,12.0,Terry faces off against a much younger Batman
43296,43779,False,NaN,0.0,['Documentary'],NaN,456348,NaN,en,Batman & Bill,...,0.000000e+00,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Batman & Bill,False,7.7,11.0,"Everyone thinks that Bob Kane created Batman,..."
44461,44980,False,"{'id': 379475, 'name': 'Batman Beyond Collecti...",0.0,"['Animation', 'Action', 'Family']",NaN,64202,NaN,en,Batman Beyond: The Movie,...,0.000000e+00,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A New Hero, For A New Era",Batman Beyond: The Movie,False,7.2,41.0,"A New Hero, For A New Era Fueled by remorse an..."

# UP TO HERE

### Collaborative Filtering

In [56]:
reader = Reader()

In [57]:
ratings = pd.read_csv('../input/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [58]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
# data.split(n_folds=5)

In [59]:
# svd = SVD()
# evaluate(svd, data, measures=['RMSE', 'MAE'])

In [60]:
# trainset = data.build_full_trainset()
# svd.train(trainset)

In [61]:
# ratings[ratings['userId'] == 1]

In [62]:
# svd.predict(1, 302, 3)

# Hybrid Recommender (not working)

In [63]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [64]:
id_map = pd.read_csv('../input/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [65]:
indices_map = id_map.set_index('id')

In [66]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [67]:
# hybrid(1, 'Avatar')

In [68]:
# hybrid(500, 'Avatar')

In [69]:
print('hello world')

hello world