In [1]:
from spammer import SpamIdentifier

In [2]:
spam = SpamIdentifier()

INFO:spammer:starting spam id engine...
INFO:spammer:Loading TF-IDF Vectorizer...
INFO:spammer:Preparing Train/Test Set...
INFO:spammer:Fitting Linear SVC Model...
INFO:spammer:Finalizing Vectorizer, Linear SVC Accuracy: 0.9748743718592965
INFO:spammer:completing spam id engine...

In [3]:
spam.spam_data

,Unnamed: 0,label,text,spam,length,filtered_text
0,0,ham,"Go until jurong point, crazy.. Available only ...",0,111,go jurong point crazy available bugis n great ...
1,1,ham,Ok lar... Joking wif u oni...,0,29,ok lar joking wif u oni
2,2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1,155,free entry 2 wkly comp win fa cup final tkts 2...
3,3,ham,U dun say so early hor... U c already then say...,0,49,u dun say early hor u c already say
4,4,ham,"Nah I don't think he goes to usf, he lives aro...",0,61,nah dont think goes usf lives around though
...,...,...,...,...,...,...
5567,5567,spam,This is the 2nd time we have tried 2 contact u...,1,161,2nd time tried 2 contact u u Ã¥Â£750 pound pri...
5568,5568,ham,Will Ã_ b going to esplanade fr home?,0,37,Ã¬ b going esplanade fr home
5569,5569,ham,"Pity, * was in mood for that. So...any other s...",0,57,pity mood soany suggestions
5570,5570,ham,The guy did some bitching but I acted like i'd...,0,125,guy bitching acted like id interested buying s...
5571,5571,ham,Rofl. Its true to its name,0,26,rofl true name

In [4]:
# spam.save_ml_objects()

In [5]:
# spam.load_ml_objects()

In [6]:
# spam.start_spam_id_engine()

In [7]:
spam.get_sample_ham()

,Unnamed: 0,label,text,spam,length,filtered_text
5461,5461,ham,Ok i thk i got it. Then u wan me 2 come now or...,0,51,ok thk got u wan 2 come wat
3838,3838,ham,Erm ÂÃ_ ill pick you up at about 6.45pm. Tha...,0,94,erm ÂÃ» ill pick 645pm thatll give enough tim...
3574,3574,ham,And do you have any one that can teach me how ...,0,59,one teach ship cars
5550,5550,ham,"Cool, what time you think you can get here?",0,43,cool time think get
1730,1730,ham,Doing project w frens lor.,0,27,project w frens lor

In [8]:
spam.get_sample_spam()

,Unnamed: 0,label,text,spam,length,filtered_text
3419,3419,spam,"As a valued customer, I am pleased to advise y...",1,153,valued customer pleased advise following recen...
5487,5487,spam,2p per min to call Germany 08448350055 from yo...,1,145,2p per min call germany 08448350055 bt line 2p...
3151,3151,spam,Hard LIVE 121 chat just 60p/min. Choose your g...,1,145,hard live 121 chat 60pmin choose girl connect ...
4296,4296,spam,thesmszone.com lets you send free anonymous an...,1,138,thesmszonecom lets send free anonymous masked ...
3422,3422,spam,Had your mobile 10 mths? Update to latest Oran...,1,158,mobile 10 mths update latest orange cameravide...

In [9]:
# spam.start_vectorizer()

In [10]:
print(spam.spam_data['text'][0])
print(spam.spam_data['filtered_text'][0])

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
go jurong point crazy available bugis n great world la e buffet cine got amore wat

In [12]:
spam.identify_message('Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...')

'go jurong point crazy available bugis n great world la e buffet cine got amore wat'